$blue: #1a4f95;
$blueGray: #696d8c;
$bg-blue-100: #d1e3f8;
$white: #fff;
$whiteFE: #fefeff;
$background-bg-grey: #f7f8fa;
$blue-black: #1e2432;
$lightBlue: #ebf4ff;
$danger: #ce1e1e;
$gray: #c9ccde;
$orange: #ff8f3e;
$borderGray: #e8ebfe;
$yellow: #fff397;
$background-bg-blue-100: #85a5cc;
$scrollbarBlue: #d1e3f8;
$green: #80bb5b;
